<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" type="button" href="">Anasayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  href="#">Araçlarımız</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active" type="button" aria-current="page"   routerLink="/cars/carList" >Araç İşlemleri</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarNavDarkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Diğer İşlemler
            </a>
            <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" type="button"routerLink="/brands/brandList">Marka İşlemleri</a></li>
              <li><a class="dropdown-item" type="button" routerLink="/colors/colorList">Renk İşlemleri</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" type="button" routerLink="/rentals/rentalList">İşlem Geçmişi</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Bize Ulaşın</a>
          </li>
        </ul>
      <div class="text-end" *ngIf="checkToLogin()==false">
        <button routerLink="/login/" type="button"  class="btn btn-warning" style="margin-right: 10px;    
            border-color: #666d6a;">
          Giriş yap
        </button>
        <button routerLink="/register/" type="button" class="btn btn-success">
          Kayıt ol
        </button>
      </div>
      <div class="dropdown text-end" *ngIf="checkToLogin()==true">
        <a
         
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="true"
           type="button"
           style="color: white;"
        >
        
        Hoş Geldin {{this.user.firstName +" "+ this.user.lastName}}
        
        </a>
        <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a routerLink="/updateProfile" class="dropdown-item">Hesabımı Güncelle</a></li>
          <li><a routerLink="car-add" class="dropdown-item">İşlem Geçmişi</a></li>
          <li><a routerLink="/profile/" class="dropdown-item">Bize Ulaşın</a></li>
         
          <li><hr class="dropdown-divider" /></li>
          <a (click)="logOut()" class="dropdown-item">Çıkış yap</a>
        </div>
    </div>
 
  </div>

  <br>
