<div class="container">
<div class="row">
<div class="col-md-4">

</div>

<div class="col-md-4">

<body class="text-center">

    <main class="form-signin">
      <form [formGroup]="registerForm">
        <img class="mb-4" src="assets/images/logo.jpg" alt="110" width="110" height="110">
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
    
        <div class="form-floating">
         
          <input formControlName="firstName" type="text" class="form-control" placeholder="Adınız">
          <label for="floatingInput">Ad</label>
        </div>
        <div class="form-floating">
           
            <input formControlName="lastName" type="text" class="form-control" placeholder="Adınız">
            <label for="floatingInput">Soyad</label>
          </div>
    
        <div class="form-floating">
         
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-Posta</label>
        </div>
    
        <div class="form-floating">
          
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Parola">
          <label for="floatingPassword">Parola</label>
        </div>
        
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Beni Hatırla
          </label>
        </div>
        <button (click)="register()" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        <p class="mt-5 mb-3 text-muted">EK GROUP Rent A Car &copy; 2021</p>
      </form>
    </main>
    </body>
</div>
</div>
</div>