<div *ngIf="dataLoaded==false" class="spinner-border text-danger d-flex mx-auto" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <h5><p class="font-weight-bold">Renk Listesi</p></h5>
  <button class="btn btn-success" routerLink="/colors/colorList/colorAdd" >Renk Ekle</button>
  <div><br></div>

  <table *ngIf="dataLoaded==true" class="table table-bordered table-condensed table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Renk ID</th>
          <th scope="col">Renk</th>
          <th scope="col">Güncelle</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let color of colors">
          <td>{{ color.colorId }}</td> 
          <td>{{ color.colorName }}</td>
          <td class="operations">
            <button class="btn btn-primary" routerLink="/colors/colorList/colorUpdate/{{ color.colorId }}" >Güncelle</button>
          </td>
        
        </tr>
      </tbody>
    </table>


