<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<br>
<div class="container"> 
  <div class="row">
  <div class="col-md-2">
  <app-brand></app-brand>
</div>
<div class="col-md-8">
  <div class="row mb-2">

    <div class="col col-4"> Marka
      <select [(ngModel)]="brandId" class="form-select" >
        <option *ngFor="let brand of brands" 
        [value]="brand.brandId"
        [selected]="getSelectedBrand(brand.brandId)">      
          {{ brand.brandName }}
        </option>
  
      </select>
    </div>
  
    <div class="col col-4"> Renk
      <select [(ngModel)] = "colorId" class="form-select">
        <option *ngFor="let color of colors"
        [value]="color.colorId"
        [selected] = "getSelectedColor(color.colorId)">
          {{ color.colorName }}
        </option>
  
      </select>
    </div>
  
    <div class="col col-2">
      <br>
      <div class="btn-group">
        <button
         (click)="getCarsByFilter(brandId,colorId)"
          type="button"
          class="btn btn-primary"
        >
          Filtrele
        </button>
      </div>
    </div>
  
    <div class="col col-2">
      <br>
      <div class="btn-group">
        <button routerLink="/cars"
        type="button"
        class="btn btn-danger"
        >
          Temizle
        </button>
      </div>
    </div>
  
  </div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
     <tr>
        <th scope="col">Resim</th>
        <th>Araç Kodu</th>
        <th>Marka</th>
        <th>Araç Adı</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Fiyat</th>
        <th>Açıklama</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td><img src="https://localhost:44370/{{car.imagePath}}" style="width: 50px;;height: 50px;;"></td>
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice | currency: "₺"}}</td>
        <td>{{car.description}}</td>
        <td>
          <div class="car-body">
            <button routerLink="/cars/car-detail/{{car.carId}}" type="button" class="btn btn-success">Detaylar</button>
          </div>
        </td>
       
      </tr>
    </tbody>
</table>
</div>
<div class="col-md-2">
  
    <app-color></app-color> 

</div>
</div>
</div>